<a href="https://colab.research.google.com/github/owdelc/ProyectoDataScience/blob/main/ExploracionProyectoDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
entitiesTrain = pd.read_csv('/content/entities_train.csv', sep='\t')  
entitiesTrain.head()

,id,abstract_id,offset_start,offset_finish,type,mention,entity_ids
0,0,1353340,11,39,DiseaseOrPhenotypicFeature,metachromatic leukodystrophy,D007966
1,1,1353340,111,126,GeneOrGeneProduct,arylsulfatase A,410
2,2,1353340,128,132,GeneOrGeneProduct,ARSA,410
3,3,1353340,159,187,DiseaseOrPhenotypicFeature,metachromatic leukodystrophy,D007966
4,4,1353340,189,192,DiseaseOrPhenotypicFeature,MLD,D007966

In [39]:
entitiesTrain.shape

(13636, 7)

In [37]:
entitiesTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13636 entries, 0 to 13635
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             13636 non-null  int64
 1   abstract_id    13636 non-null  int64
 2   offset_start   13636 non-null  int64
 3   offset_finish  13636 non-null  int64
 4   type           13636 non-null  object
 5   mention        13636 non-null  object
 6   entity_ids     13636 non-null  object
dtypes: int64(4), object(3)
memory usage: 745.8+ KB

In [25]:
abstractsTrain = pd.read_csv('/content/abstracts_train.csv', sep='\t')  
abstractsTrain.head()

,abstract_id,title,abstract
0,1353340,Late-onset metachromatic leukodystrophy: molec...,We report on a new allele at the arylsulfatase...
1,1671881,Two distinct mutations at a single BamHI site ...,Classical phenylketonuria is an autosomal rece...
2,1848636,Debrisoquine phenotype and the pharmacokinetic...,The metabolism of the cardioselective beta-blo...
3,2422478,Midline B3 serotonin nerves in rat medulla are...,Previous experiments in this laboratory have s...
4,2491010,Molecular and phenotypic analysis of patients ...,Eighty unrelated individuals with Duchenne mus...

In [26]:
abstractsTrain.shape

(400, 3)

In [40]:
abstractsTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   abstract_id  400 non-null    int64
 1   title        400 non-null    object
 2   abstract     400 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.5+ KB

In [30]:
relationsTrain = pd.read_csv('/content/relations_train.csv', sep='\t')  
relationsTrain.head()

   id  abstract_id                  type entity_1_id entity_2_id  novel
0   0      1353340           Association         410     D007966     No
1   1      1353340  Positive_Correlation  rs74315458     D007966  Novel
2   2      1671881  Positive_Correlation     D010661  rs62514952  Novel
3   3      1671881  Positive_Correlation     D010661  rs62514953  Novel
4   4      1671881           Association        5053     D010661     No

In [31]:
relationsTrain.shape

(4280, 6)

In [41]:
relationsTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4280 entries, 0 to 4279
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4280 non-null   int64
 1   abstract_id  4280 non-null   int64
 2   type         4280 non-null   object
 3   entity_1_id  4280 non-null   object
 4   entity_2_id  4280 non-null   object
 5   novel        4280 non-null   object
dtypes: int64(2), object(4)
memory usage: 200.8+ KB